[submodule "api"]
	path = api
	url = git@github.com:EliasGcf/gobarber-api.git
[submodule "web"]
	path = web
	url = git@github.com:EliasGcf/gobarber-web.git
[submodule "mobile"]
	path = mobile
	url = git@github.com:EliasGcf/gobarber-mobile.git
